<h1>Configure your Server</h1>
<p>
  You need to configure Becca's settings using the
  <code>becca!config</code> command:
</p>
<p class="config" *ngFor="let call of configCalls">
  <code>{{ call.call }}</code
  >: {{ call.result }}
</p>
<p>
  NOTE: Config settings are set on a per-server basis. Only moderators with the
  "Manage Server" permission can change the settings.
</p>
<h2>Viewing Your Config</h2>
<p>
  You can view most of your configuration settings with
  <code>becca!config view</code>. The three exceptions to that are
  <code>hearts</code>, <code>self_roles</code>, and <code>blocked</code>. These
  three are each viewed individually due to the potential length.
</p>
<p>
  To view one of these, use <code>becca!config view &lt;setting&gt;</code>. For
  example, to view your self-assignable roles you'd use
  <code>becca!config view self_roles</code>.
</p>
<p>
  These lists are also paginated, so you can pass a page number to view that
  specific page such as <code>becca!config view self_roles 2</code>.
</p>
<h2>Resetting a Setting</h2>
<p>
  If you want to reset any of the settings to their default values, run
  <code>becca!config reset &lt;setting_name&gt;</code>.
</p>
<a class="page-btn" routerLink="/deploy">Prev Page</a>
<a class="page-btn" routerLink="/auto-cmd">Next Page</a>
